.about {
	background-color: #f0edee;
	color: #0f0423;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
}

.bio {
	margin-bottom: 3rem;
}

.bio h1 {
	font-size: 1.7rem;
	margin-bottom: 2rem;
}

.bio p {
	width: 60%;
	margin-left: 20%;
	line-height: 1.35;
}

.skills h2 {
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

.skills-list {
	width: 50%;
	margin-left: 25%;
	list-style: none;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
	text-align: left;
}

.skills-list-item {
	margin: 0.5rem auto;
}

.icon {
	margin-right: 5px;
}
