* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Philosopher", sans-serif;
	text-align: center;
}

.home,
.projects,
.about,
.contact {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
}

/* .projects {
	background-color: coral;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 20px;
}

.about {
	background-color: coral;
	background-position: center;
	background-size: fill;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 20px;
}

.contact {
	background-color: coral;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 20px;
} */
