body {
	margin: 0;
	font-family: "Philosopher", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f0edee;
	color: #0f0423;
	border-color: #59c0c5;
}
